#content h3 {
	border-bottom: 1px solid #CCCCCC;
	margin-top: 1.5em;
}

.ui-dialog {
	border: 2px solid black;
	background-color: white;
}

.ui-widget-content {
	background: #ffffff;
}
.stopSelectionDialog {
	height: 400px;
	width: 400px;	
}

#serviceAlertTitle {
  margin-bottom: 0;	
}

#serviceAlertSubtitle {
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 1em;
}

.visbility {
	margin-bottom: 1em;
}

#situationDetailsForm input {
	width: 200px;
}

#situationDetailsForm select {
	width: 200px;
}

#situationDetailsForm td {
	padding-bottom: 5px;
}

.affectedAgency {
	margin-bottom: 1em;	
}

.affectedAgency > .name {
  font-weight: bold;
}

.affectedStop {
	margin-bottom: 1em;	
}

.affectedStop > .name {
  font-weight: bold;
}

#consequenceMap {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 800px;
	height: 450px;
}